@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

body{
    font-family: "Overpass";
    font-size: 16px;
    margin: 0;
}

.upperPart{
    background: rgb(255,143,112);
    background: linear-gradient(135deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 35%);
    border-bottom-left-radius: 80px;
    position: relative;
    overflow: hidden;
}

.introImage{
    position: absolute;
    top: -270%;
    left: -35%;
}

.leftUppercontainer{
    display: flex;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;    
    padding: 4em 12em;
    justify-content: space-between;
    position: relative;
}

.uppernav{
    margin-left: 3em;
}

.logo{
    width: 90px;
    height: 40px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    display: block;
    text-decoration: none;
    outline: none;   
    color: hsl(0, 0%, 85%); 
}

.topmenu{
    backface-visibility: hidden;
    display: flex;
}

.topmenu > li {
    display: inline-block;
    position: relative;  
}

.topmenu > li > a {
    font-family: "Ubuntu";
    font-weight: 500;
    padding: 1em;
}

.arrow{
    margin-left: 5px;
}

.topmenu li a:hover .arrow{    
    transform: scaleY(-1);
}

.topmenu li a:hover{
    text-decoration:underline;
    color: hsl(0, 0%, 100%);
}

.submenu{
    width: 100px;
    background: white;
    padding: 2em 1em;
    border-radius: 5px;
    box-shadow: 0 10px 40px rgb(150, 150, 150);
    position: absolute;
    visibility: hidden;
    z-index: 10;
}

.topmenu > li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.submenu li a{
    color: black;
    line-height: 2em;
    font-size: 15px;
}

.submenu li a:hover{
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.buttonForMenu{
    display: none;
}

.loginButton{
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 700;
    color: hsl(0, 0%, 85%);
    background:none;
    border: none;
    margin-right: 2em;
}

.loginButton:hover{
    cursor: pointer;
}

.SignUpButton{
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 700;
    color: hsl(356, 100%, 66%);
    background-color: white;
    border: none;
    padding: 1em 2.5em;
    border-radius: 30px;
}

.SignUpButton:hover{
    cursor: pointer;
    background-color:hsl(355, 100%, 74%);
    color: white;
}

.descriptionForHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.descriptionForHeader h1{
    color:white;
    font-size: 60px;
    margin-bottom: 0;
}

.descriptionForHeader p{
    color: white; 
    font-size: 20px; 
    margin-top: 0.5em;
}

.buttonHeaderContainer{
    margin-top: 1em;
    margin-bottom: 10em;
}

.startForFreeButton{    
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 700;
    color: hsl(356, 100%, 66%);
    background-color: white;
    border: none;
    padding: 1em 2em;
    border-radius: 30px;
}

.startForFreeButton:hover{
    cursor: pointer;
    background-color:hsl(355, 100%, 74%);
    color: white;
}

.learnMoreButton{
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 700;
    color: white;
    background: none;
    border: 1px solid white;
    padding: 1em 2em;
    border-radius: 30px;
    margin-left: 1em;
}

.learnMoreButton:hover{    
    cursor: pointer;
    background-color: white;
    color: hsl(355, 100%, 74%);
}

.firstItem{
    padding-top: 5em;
    padding-bottom: 18em;
    position: relative;
    overflow: hidden;
}

.firstItem h1{
    color: hsl(208, 49%, 24%);
    font-size: 40px;
    text-align: center;
}

.firstItemandImage{
    display: flex; 
    margin-top: 4em;
    margin-left: 12em;
}

.textFirstItem{
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    width: 30em;
    position: relative;
}

.textBodyItems{
    font-family: "Overpass";
    font-size: 15px;
    line-height: 2em;
    color: hsl(207, 13%, 34%);
    font-weight: 300;
}

.forMargin{
    margin-bottom: 4em;
}

.editorImage{
    position: absolute;
    top: 5%;
    left: 55%;
}

.secondItem{
    display: flex;
    background: rgb(44,45,63);
    background: linear-gradient(135deg, rgba(44,45,63,1) 0%, rgba(63,65,100,1) 35%);
    align-items: center;
    padding: 7em;
    margin-bottom: 5em;
    justify-content: flex-end;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    position: relative;
    overflow: hidden;
}

.secondItem h1{
    color: white; 
    font-size: 40px;
}

.secondItem p{
    color: white; 
    font-size: 16px;
}

.secondItemText{    
    width: 40em;
    z-index: 10;
}

.phonesImage{
    position: absolute;
    left: 10%;
    top: 152%;
}
.circlesPhones{
    position: absolute;
    left: -5%;
    top: -120%;
}

.thirdItem{
    display : flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10em 0;
    padding-bottom: 15em;
}

.thirdItemText{
    width: 30em;
    margin-right: 17em;
}

.laptopImage{
    position: absolute;   
    left: -5%;
    top: 205%;
}

footer{
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 80px;
    padding: 5em 12em;
    padding-right: 25em;
    display: flex;
    justify-content: space-between;
}

.footerLogo{
    width: 90px;
    height: 40px;
}

.footerLinksTitle{
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.footerLinks{
    margin-top: 2em;
}

.footerLinks li a{
    line-height: 2em;
}

footer a {    
    text-decoration: none;
    outline: none;   
    color: hsl(240, 2%, 79%);
    font-family: "Ubuntu";
    font-size: 16px;
}

footer ul{    
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a:hover{
    text-decoration: underline;
    color: white;
}

@media (max-width: 900px) {
    .leftUppercontainer{
        flex-direction: column;
    }

    .buttonForMenu{
        display: block;
    }

    .descriptionForHeader{
        text-align: center;
        padding: 0 2em;
    }

    .descriptionForHeader h1{
        font-size: 33px;
    }

    .descriptionForHeader p{
        font-size: 18px;
    }

    .startForFreeButton{
        padding: 1em 1em;
    }

    .learnMoreButton{
        padding: 1em 1em;
    }

    .uppernav{
        display: none;
    }

    .upperButtonsContainer{
        display: none;
    }

    .header{
        padding: 4em 2em;
    }

    .introImage{
        top: -55%;
        left: -100%;
        width: 400%;
    }

    .firstItem h1{
        font-size: 30px;
    }

    .firstItemandImage{
        margin-left: 0;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 0;
    }

    .textFirstItem{
        width: 90%;
        margin-left: 0;
        padding: 0 1em;
        text-align: center;
    }

    .textFirstItem h2{
        font-size: 30px;
        margin-bottom: 0;
    }

    .forMargin{
        margin-bottom: 1em;
    }

    .editorImage{
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 2em;
    }

    .secondItem{
        justify-content: center;
        text-align: center;
        padding: 0;
        padding-top: 5em;
        margin-bottom: 0;
        height: 500px;
    }

    .secondItemText{
        width: 90%;
    }

    .secondItem h1{
        font-size: 33px;
    }
    
    .secondItem p{
        font-size: 18px;
    }

    .circlesPhones{
        width: 150%;
        left: -25%;
        top: -40%;
    }

    .phonesImage{
        width: 100%;
        top: 290%;
        left: 0;
    }

    .thirdItem{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3em 0 ;
    }

    .thirdItemText{
        margin-right: 0;
        width: 90%;
        text-align: center;
    }

    .thirdItemText h2{
        font-size: 30px;
    }

    .thirdItemText p{
        font-size: 18px;
    }

    .laptopImage{
        position: relative;
        left:0;
        top: 0;
    }

    

}